<form (ngSubmit)="iniciarSimulacion(form)" #form="ngForm" class="fadeIn fast pb-5">

  <h5>Piloto</h5>

  <div class="container-fluid border rounded p-2">
    <div class="form-row p-2">
      <div class="form-group col-sm">
        <label for="name"><h5>Nombre</h5></label>

        <input type="text" class="form-control" id="name" placeholder="Nombre" required pattern="[áéíóúüñÁÉÍÓÚÜÑA-Za-z\s]{3,30}" ngModel name="name" #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="name.errors.required">
            El nombre es requerido.
          </div>
          <div *ngIf="name.errors">
            El nombre sólo puede tener letras y espacios, y debe tener entre 3 y 30 caracteres de largo.
          </div>
        </div>

      </div>
      <div class="form-group col-sm">
        <label for="apellido"><h5>Apellido</h5></label>

        <input type="text" class="form-control" id="apellido" placeholder="Apellido" required pattern="[áéíóúüñÁÉÍÓÚÜÑA-Za-z\s]{3,30}" ngModel name="apellido" #apellido="ngModel">

        <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="apellido.errors.required">
            El apellido es requerido.
          </div>
          <div *ngIf="apellido.errors">
            El apellido sólo puede tener letras y espacios, y debe tener entre 3 y 30 caracteres de largo.
          </div>
        </div>


      </div>
    </div>

    <div class="form-row p-2">
      <div class="form-group col-sm">
        <label for="cedula"><h5>Cédula de Ciudadanía</h5></label>

        <input type="text" class="form-control" id="cedula" placeholder="Cédula de Ciudadanía" required pattern="[1-9][0-9]{6,10}" ngModel name="cedula" #cedula="ngModel">

        <div *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="cedula.errors.required">
            La cédula de ciudadanía es requerida.
          </div>
          <div *ngIf="cedula.errors">
            La cédula sólo puede tener números y debe tener entre 7 y 11 dígitos.
          </div>
        </div>

      </div>
      <div class="form-group col-sm">
        <label for="edad"><h5>Edad</h5></label>

        <input type="text" class="form-control" id="edad" placeholder="Edad" name="edad" required pattern="1[8-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|6[0-9]|7[0-9]|8[0-9]|9[0-9]" ngModel #edad="ngModel">

        <div *ngIf="edad.invalid && (edad.dirty || edad.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="edad.errors.required">
            La edad es requerida.
          </div>
          <div *ngIf="edad.errors">
            La edad sólo puede tener números y debe estar entre 18 y 99.
          </div>
        </div>

      </div>
    </div>

  </div>

  <br>

  <h5>Origen</h5>
  <div class="container-fluid border rounded p-2">
    <div class="form-row p-2">
      <div class="form-group col-sm">
        <label for="paisOrigenSelect"><h5>País</h5></label>
        <select class="form-control" id="paisOrigenSelect" name="paisOrigen" [(ngModel)]="pais_origen" (change)="paisOrigenSelected(pais_origen)" required>
          <option [value]="pais_origen" *ngFor="let pais_origen of paises_origen" >{{ pais_origen }}</option>
        </select>
      </div>
      <div class="form-group col-sm">
        <label for="aeroOrigenSelect"><h5>Aeropuerto</h5></label>
        <select class="form-control" id="aeroOrigenSelect" name="id" [(ngModel)]="aero_origen.airport_id" #id="ngModel" (change)="aeroOrigenSelected(this.aero_origen.airport_id)" required>
          <option [value]="aero_origen.airport_id" *ngFor="let aero_origen of aeropuertos_origen" >{{aero_origen.city}} - {{aero_origen.iata}} - {{aero_origen.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <br>

  <h5>Destino</h5>
  <div class="container-fluid border rounded p-2">
    <div class="form-row p-2">
      <div class="form-group col-sm">
        <label for="paisDestinoSelect"><h5>País</h5></label>
        <select class="form-control" id="paisDestinoSelect" name="paisDestino" [(ngModel)]="pais_destino" (change)="paisDestinoSelected(pais_destino)" required>
          <option [value]="pais_destino" *ngFor="let pais_destino of paises_destino" >{{ pais_destino }}</option>
        </select>
      </div>
      <div class="form-group col-sm">
        <label for="aerDestinoSelect"><h5>Aeropuerto</h5></label>
        <select class="form-control" id="aeroDestinoSelect" name="aeroDestino" [(ngModel)]="aero_destino.airport_id" #id="ngModel" (change)="aeroDestinoSelected(this.aero_destino.airport_id)" required>
          <option [value]="aero_destino.airport_id" *ngFor="let aero_destino of aeropuertos_destino" >{{aero_destino.city}} - {{aero_destino.iata}} - {{aero_destino.name}}</option>
        </select>
      </div>
    </div>
  </div>

  <br>

  <h5>Velocidad</h5>
  <div class="container-fluid border rounded p-2">

      <div class="form-group">
        <label for="formControlRange"><h5>Mach {{velocidad}}</h5></label>
        <input type="range" class="form-control-range" id="formControlRange" name="velocidad" [(ngModel)]="velocidad" max="1000" min="1">
      </div>

  </div>
  <br>

  <div class="form-row">
    <div class="form-group col-sm">
      <button [disabled]="!validation || !form.valid" type="submit" class="btn btn-outline-dark btn-block"><span octicon="cloud-upload"></span> Iniciar Simulación</button>
    </div>
  </div>

</form>